@model StockManager.Web.Models.Admin.Products_CRUD_ViewModel
@using StockManager.Web.HtmlHelper;
@{

    Layout = null;
}

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content-body">
            <div class="header bg-blue-grey">
                <h2>
                    Cập nhật
                    <small>nhập thông tin sản phẩm</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" data-dismiss="modal" role="button">
                            <i class="material-icons">close</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <form id="frm-crud-product" action="">
                    @Html.HiddenFor(m => m.Product_ID)
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="header">
                                    <h2>
                                        Thông tin cơ bản
                                        <small>Nhập thông tin sản phẩm</small>
                                    </h2>
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="form-line combobox">
                                                    <label class="form-label">Loại sản phẩm</label>
                                                    @Html.DropDownListFor(m => m.Product_Type_ID, Model.Product_Type_List, new { @class = "form-control show-tick" })

                                                </div>
                                                @*@Html.ValidationMessageFor(model => model.Product_Type_ID, null, new { @class = "error" })*@
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="form-line combobox">
                                                    <label class="form-label">Sản phẩm cấp 1</label>
                                                    @Html.DropDownListFor(m => m.Product_Level1, Model.Product_Level1_List, new { @class = "form-control show-tick" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.Product_Level1, null, new { @class = "error" })
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="form-line combobox">
                                                    <label class="form-label">Sản phẩm cấp 2</label>
                                                    @Html.GroupDropDownListFor(m => m.Product_Level2, Model.Product_Level2_List, new { @class = "form-control show-tick" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.Product_Level2, null, new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(m => m.Product_Name, new { @class = "form-control" })
                                                    <label class="form-label">Tên sản phẩm</label>
                                                </div>
                                                @Html.ValidationMessageFor(x => x.Product_Name, null, new { @class = "error" })
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(m => m.Org_Price, new { @class = "form-control" })
                                                    <label class="form-label">Giá gốc</label>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Org_Price, null, new { @class = "error" })
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(m => m.Sale_Price, new { @class = "form-control" })
                                                    <label class="form-label">Giá bán</label>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Sale_Price, null, new { @class = "error" })
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
                                                    <label class="form-label">Khối lượng</label>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Quantity, null, new { @class = "error" })
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group form-float">
                                                <div class="form-line combobox">
                                                    <label class="form-label">Đơn vị tính</label>
                                                    @Html.DropDownListFor(m => m.Unit_ID, Model.UnitList, new { @class = "form-control show-tick" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.Unit_ID, null, new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                @{
                    if (Model.AtributeType_List != null && Model.AtributeType_List.Count > 0)
                    {
                        <div class="row clearfix" view-when='update'>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>
                                            Thuộc tính
                                            <small>Chọn thuộc tính sản phẩm</small>
                                        </h2>
                                    </div>
                                    <div class="body">
                                        <div class="row clearfix">
                                            @foreach (var atributeType in Model.AtributeType_List)
                                            {
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <h2 class="card-inside-title">@atributeType.TypeName</h2>
                                                    <div class="demo-radio-button">
                                                        @foreach (var attribute in atributeType.ProductAttributes)
                                                        {
                                                            <input name="@attribute.Type" class="rad-product-attribute" type="radio" id="radio_@(attribute.Type)_@(attribute.Id)" value="@(attribute.Id)" data-productid="@Model.Product_ID" data-type="@attribute.Type" onchange="_PRODUCT.addProductAtribute(this);" checked="@attribute.IsSelected" />
                                                            <label for="radio_@(attribute.Type)_@(attribute.Id)">@attribute.Name</label>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $.AdminBSB.input.activate();
        $.AdminBSB.dropdownMenu.activate();
        $.AdminBSB.select.activate();
        $("#Product_Level1").change(function () {
            _PRODUCT.getProductsLevel2_By_Level1_Id(this);
        });
        $("#frm-crud-product").submit(function (e) {
            e.preventDefault(); //STOP default action
            _PRODUCT.saveProduct();
        });

    })
</script>
@Scripts.Render("~/bundles/jqueryval")