@model StockManager.Web.Models.Online.ItemDetailViewModel
@using StockManager.Entity.Service.Contract
@using Common
@using Common.Enum
@using Newtonsoft.Json;
@{
    Layout = "~/Views/Shared/Online/_Layout.cshtml";
    ViewBag.Title = Model.Item.Product_Name;
}
@{

    var current_Product_Atributes = Model.Item.Product_ProductAttribute_Mapping.Select(p => p.ProductAttribute);
    var current_Product_Color = current_Product_Atributes.Where(p => p.Type == ATTRIBUTE_TYPE.COLOR.ToString()).FirstOrDefault();
    var current_Product_Size = current_Product_Atributes.Where(p => p.Type == ATTRIBUTE_TYPE.SIZE.ToString()).FirstOrDefault();
}
<div id="content">
    <div class="content-page">
        <div class="container">
            @Html.Action("Index", "BreadCrumb")
            <div class="row">
                <div class="col-md-9 col-sm-8 col-col-xs-12">
                    <div class="product-detail accordion-detail border radius">
                        <div class="row">
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <div class="mid">
                                        @{
                                            var listImgSlider = Model.List_Similar_Item.Find(p => p.Product_ID == Model.Item.Product_ID).ListImage;
                                            string bigImgSlider = "";

                                            if (listImgSlider != null && listImgSlider.Count > 0)
                                            {
                                                bigImgSlider = listImgSlider.FirstOrDefault().Path;
                                            }

                                        }
                                        <img src="~/images-handle/get-image?path=@(bigImgSlider)&w=330&h=360" data-zoom-image="../images-handle/get-image?path=@(bigImgSlider)&w=430&h=460" alt="">
                                    </div>
                                    <div class="gallery-control">
                                        <div id="detail-item-slider" class="owl-carousel">
                                            <!-- Carousel items -->
                                            @{
                                                if (listImgSlider != null)
                                                {
                                                    int count = 0;
                                                    foreach (var image in listImgSlider)
                                                    {
                                                        string active = "";
                                                        active = count == 0 ? "active" : "";

                                                        <div class="item @active">
                                                            <div class="row-fluid">
                                                                <a href="#" class="thumbnail" data-image="../images-handle/get-image?path=@(image.Path)&w=330&h=360" data-zoom-image="../images-handle/get-image?path=@(image.Path)&w=530&h=560">
                                                                    <img src="~/images-handle/get-image?path=@(image.Path)&w=330&h=360" alt="" style="max-width:100%;">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        count++;
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <!-- End Gallery -->
                            </div>
                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <h2 class="title-detail">@Model.Item.Product_Name.ToUpper()</h2>
                                    <div class="product-price">
                                        <ins><span>@Model.Item.Sale_Price.NumberToString()</span></ins>
                                    </div>
                                    @if (Model.List_Similar_Item != null && Model.List_Similar_Item.Count > 0)
                                    {
                                        <div class="attr-detail attr-color">
                                            <div class="attr-title">
                                                <strong><sup>*</sup>Màu:</strong><span class="current-color">@current_Product_Color.Name</span>
                                            </div>
                                            <ul class="list-filter color-filter">
                                                @foreach (var similar in Model.List_Similar_Item)
                                                {
                                                    var color = new ProductAttribute_DTO();
                                                    string _active = similar.Product_ID == Model.Item.Product_ID ? "active" : "";
                                                    color = similar.ProductAttributes.Where(p => p.Type == ATTRIBUTE_TYPE.COLOR.ToString()).FirstOrDefault();
                                                    <li class="@_active"><a href="#" data-value="@similar.Product_ID" data-color="@color.Name" data-color-value="@color.Id" title="@color.Name"><span style="background:@color.Description"></span></a></li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    <div class="attr-detail attr-size">
                                        <div class="attr-title">
                                            <strong><sup>*</sup>Size:</strong><span class="current-size">@current_Product_Size.Name</span>
                                        </div>
                                        <ul class="list-filter size-filter">
                                            @foreach (var saleItem in Model.List_All_Sale_Item.Where(p => p.ProductAttributes.Where(o => o.Id == current_Product_Color.Id).Count() > 0))
                                            {
                                                var saleItem_Attributes = new List<ProductAttribute_DTO>();
                                                var size = new ProductAttribute_DTO();
                                                size = saleItem.ProductAttributes.Where(p => p.Type == ATTRIBUTE_TYPE.SIZE.ToString()).FirstOrDefault();
                                                string _active = saleItem.Product_ID == Model.Item.Product_ID ? "active" : "";

                                                <li class="@_active"><a data-value="@saleItem.Product_ID" href="#">@size.Name</a></li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="detail-extralink">
                                        <div class="detail-qty border radius">
                                            <a href="#" class="qty-down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                            <span class="qty-val">1</span>
                                            <a href="#" class="qty-up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="product-extra-link2">
                                            <a class="addcart-link" href="javascript:void(0)" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Đang thực hiện">Mua ngay</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Detail Info -->
                            </div>
                        </div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#image" aria-controls="image" role="tab" data-toggle="tab">Hình ảnh</a></li>
                            <li role="presentation"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Mô tả</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active text-center" id="tab_image">
                                @{
                                    if (listImgSlider != null && listImgSlider.Count > 0)
                                    {
                                        foreach (var image in listImgSlider)
                                        {
                                            <img src="~/images-handle/get-image?path=@(image.Path)&w=330&h=360" alt="" style="max-width:100%;">
                                        }
                                    }
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane" id="description">
                                @Html.Raw(WebUtility.HtmlDecode(Model.Item.Description))
                            </div>
                        </div>
                    </div>
                    <!-- End Main Detail -->
                    @Html.Action("ViewedItems", "Feature")
                </div>
                @Html.Action("RelateItems", "Feature")
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Script/Online/Item")
<script>
    var modelJson = '@JsonConvert.SerializeObject(Model)';
    $(function () {
        _DETAIL.setModel(modelJson);
    });
    
</script>