@model StockManager.Web.Models.Online.ShoppingCartModel
@using Common
<div class="mini-cart-box mini-cart6">
    <a class="mini-cart-link border radius" href="cart.html">
        <span class="mini-cart-icon color"><i class="material-icons">shopping_cart</i></span>
        <span class="mini-cart-number">
            @Model.Cart.TotalQuantity().NumberToString()
            sp:
            <b class="color">@Model.Cart.Total().NumberToString()</b> vnđ
        </span>
    </a>
    <div class="mini-cart-content">
        <h2>(@Model.Cart.TotalQuantity().NumberToString()) Sản phẩm trong giỏ hàng</h2>
        <ul class="list-mini-cart-item list-unstyled">
            @foreach (var item in Model.Cart.ListItem)
            {
                <li>
                    <div class="mini-cart-edit">
                        <a class="delete-mini-cart-item" href="#"><i class="fa fa-trash-o"></i></a>
                        <a class="edit-mini-cart-item" href="#"><i class="fa fa-pencil"></i></a>
                    </div>
                    <div class="mini-cart-thumb">
                        <a href="#"><img alt="" src="/images-handle/get-image?path=@item.ProductImage&w=70&h=96"></a>
                    </div>
                    <div class="mini-cart-info">
                        <h3><a href="#">@item.ProductName</a></h3>
                        <div class="info-price">
                            <span>@item.Price.NumberToString() vnđ</span>
                            @*<del>$17.96</del>*@
                        </div>
                        <div class="qty-product">
                            <span class="qty-down">-</span>
                            <span class="qty-num">@item.Quantity</span>
                            <span class="qty-up">+</span>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="mini-cart-total">
            <label>Tổng tiền:</label>
            <span>@Model.Cart.Total().NumberToString() &nbsp;</span> vnđ
        </div>
        <div class="mini-cart-button">
            <a class="mini-cart-view" href="#">giỏ hàng </a>
            <a class="mini-cart-checkout" href="#">Thanh toán</a>
        </div>
    </div>
</div>
@Scripts.Render("~/Script/Online/ShoppingCart")